.form-container .inner-form {
  width: fit-content;
  border-right: 1px solid #ddd;
}

.form-container .form-group:not(:last-child) {
  padding: 0 45px 25px 0;
}

.form-container label {
  margin-bottom: 10px;
  font-weight: 600;
}

.form-container label span {
  font-size: 14px;
  color: #747474;
}

.form-container input.form-control {
  border: none;
  box-shadow: none;
  outline: none;
  padding: 5px 8px;
  margin: 0 8px;
  font-weight: 500;
  background-color: #fbfbfb;
  border-radius: 0px;
  border-bottom: 1px solid #ddd;
  color: #333;
  transition: all .18s linear;
  -moz-appearance: textfield;
  max-width: 140px;
  width: 100%;
}

.form-container input[type='number']::-webkit-outer-spin-button,
.form-container input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.form-container input.form-control:hover,
.form-container input.form-control:focus,
.form-container input.form-control:active {
  background-color: #f5f5f5;
  border-bottom-color: #333;
}

.form-container .arrow-btn {
  border: none;
  box-shadow: none;
  outline: none;
  padding: 5px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  flex: 0 0 35px;
  font-size: 18px;
  color: #212529;
  background-color: #fbfbfb;
  box-shadow: 1.5px 1.5px 4px 0px rgba(0,0,0,.12);
  transition: all 0.18s linear;
}

.form-container .arrow-btn:hover {
  background-color: #efefef;
}

.form-container .arrow-btn:active {
  transform: scale(1.05);
}

.form-container .arrow-btn.disabled {
  background-color: #ededed;
  color: #c1c1c1;
}

.form-container .left-arrow i {
  padding-right: 3px;
}

.form-container .right-arrow i {
  padding-left: 3px;
}

.paper-container .box .outer {
  box-shadow: 0px 0px 0px 1px #f53c3c;
  border-radius: 2px;
  padding: 5px;
}

.paper-container .box .inner {
  box-shadow: 0px 0px 0px 1px #000;
  border-radius: 2px;
}

.paper-container .paper-row:not(:last-child) {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.paper-container .paper-row:last-child {
  padding-bottom: 40px;
}

.paper-container .a4 .outer {
  max-width: 297px;
  min-height: 210px;
}

.paper-container .a3 .outer {
  max-width: 420px;
  min-height: 297px;
}

.paper-container .extended .outer {
  max-width: 487.7px;
  min-height: 330px;
}

.paper-container .embossed .outer {
  max-width: 480px;
  min-height: 330px;
}

.paper-container .dimensions {
  font-size: 14px;
  color: #747474;
}

.paper-container .res {
  color: #05a305;
}

.paper-container .outer .paper {
  background-color: #6bd0f7;
}

/* Start Responsive */

@media only screen and (min-width: 992px) {
  .form-container {
    flex: 0 0 296px;
  }
}

@media only screen and (max-width: 1199px) {
  .paper-container .a4 .outer {
    max-width: 240px;
  }
  .paper-container .a3 .outer {
    max-width: 280px;
  }
  .paper-container .extended .outer {
    max-width: 305.7px;
  }
  .paper-container .embossed .outer {
    max-width: 298px;
  }
}

@media only screen and (max-width: 991px) {
  .form-container .in-control,
  .form-container {
    display: flex;
    justify-content: center;
  }
  .form-container .inner-form {
    border-right: none;
  }
  .form-container .form-table {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
    text-align: center;
    justify-content: center;
  }
  .form-container .form-table input {
    text-align: center;
  }
  .form-container .form-group:not(:last-child),
  .form-container .form-group {
    padding: 0 12.5px 25px 12.5px;
  }
  .form-container input.form-control {
    max-width: 110px;
  }
}

@media only screen and (max-width: 440px) {
  .form-container .form-table {
    justify-content: center;
    flex-direction: column;
  }
}